   @if (all_categories) 
        {  
             <section>
                <!-- header -->
             <div class="text-center">
                <app-header [Title]="'All categories'"/> 
             </div>

             <!-- data -->
            <div class="grid grid-cols-1 md:grid-cols-2 mt-4">
             @for (category of all_categories; track category._id) 
             {      
              <div class="p-4 animation">
               <div class=" h-full border-2 hover:border-green-400 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
               <div class="flex justify-center items-center">
                 <img class="w-full h-[250px] object-contain object-center" [src]="category.image" [alt]="category.name">
               </div>
                <div class="p-6 mt-2 title">
                 <h2 class="tracking-widest text-2xl title-font font-medium text-gray-500 text-center">{{category.name}}</h2>
                </div>
           </div>

              </div>
             }
             </div>
           </section>
        }
       @else 
         {   
            <!-- spinner (loading when data being rendered) -->
             <app-loading-spinner/>
         }
