<div class="w-full h-screen flex flex-col items-center justify-center">
    <div>
       <!-- image -->
      <div class="flex font-bold justify-center mt-6">
        <img src="/images/freshcart-logo.svg" class="h-8" alt="Fresh-Cart Logo" />
      </div>
       <!-- header -->
       <h2 class="text-2xl text-center text-gray-800 mb-8">Login</h2>
    </div>
    <form [formGroup]="loginform" (ngSubmit)=" OnLogin();" class="w-full md:w-[75%] rounded-lg">
      <!-- inputs -->
    <div class="px-12 pb-10">
      <!-- email-field -->
      <div class="w-full mb-2">
        <div>
          <label for="email">Email address</label>
        </div>
        <div class="flex justify-center">
          <input formControlName="email"   id="email" type="text" placeholder="Email Address" class=" w-full  border-2 rounded px-3py-2 text-gray-700 focus:outline-none focus:border-green-400 focus:shadow-none focus:ring-transparent"/>
        </div>
      </div>
      <!-- password field -->
      <div class="w-full mb-2">
        <div>
           <label for="password">Password</label>
        </div>
        <div class="flex justify-center">
          <input formControlName="password"  id="password"  [type]="IsShowPassword? 'text' :'password' " placeholder="Password" class=" w-full border-2 rounded px-3 py-2 text-gray-700 focus:outline-none focus:border-green-400 focus:shadow-none focus:ring-transparent relative"/>
           <span class = "absolute right-[70px] md:right-[230px] top-[69.5%] md:top-[71%]"  (click)="ShowPassword();" >
                <i [class]="IsShowPassword? 'fa-solid fa-eye-slash':'fa-solid fa-eye'"></i>
           </span>
        </div>  
      </div>
      <div>
          @if (loginform.get("email")?.errors&& loginform.get("email")?.touched||loginform.get("password")?.errors && loginform.get("password")?.touched) 
        {
            @if (loginform.get("email")?.getError("required")||loginform.get("password")?.getError("required")) 
            {
             <app-error-message>
               <span class="font-medium">All data is required !</span>
             </app-error-message>
            }
            @if (loginform.get("email")?.getError("email")) 
            {
              <app-error-message>
                <span class="font-medium">Invalid email !</span>
              </app-error-message>
            }
          }
      </div>
      
         <div>
          <a routerLink="/forgetpassword">Forget Your Password ? </a>
         </div>


      <!-- button -->
      <div class="flex justify-center space-x-2">
          <button type="submit" class=" w-1/4 rounded-full bg-green-500 text-gray-100 focus:outline-none cursor-pointer hover:bg-green-700 duration-100 flex justify-center items-center gap-2">
           Login
            @if(IsLoading)
            {
               <div style="border-top-color:transparent" class="w-5 h-5 border-4 border-blue-400 border-solid rounded-full animate-spin"></div>
            }
          </button>
          <p>Don't Have an account? <a routerLink="/signup" class="text-green-400 font-bold">Signup Now</a></p>
      </div>
      @if(successmessage)
      {
         <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
           <p class="font-bold">Login {{successmessage}}</p>
         </div>
      }
      @if(errormessage)
      {
         <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
           <p class="font-bold">{{errormessage}}</p>
         </div> 
      }
    </div>
  </form>
</div>

