 
<footer class="text-gray-600 body-font bg-gray-300 mt-7">
  <div class="container px-5 py-8 mx-auto sm:flex-row flex-col">
    <div>
     <h1 class="text-black">Get the fresh cart app</h1>
     <p class="text-sm text-gray-500  mt-3">
       we will send you a link, open it on yourphone to download the app. 
    </p>
    </div>
    <div class=" space-y-4 md:space-x-4">
        <input type="text" class="border-gray-400 rounded-lg mt-3 w-full md:w-[75%]" name="user-email" placeholder="E-mail...."/>
        <button class="bg-green-600 text-white p-3 rounded-lg cursor-pointer">Share app link</button>
    </div>
    <div class="flex flex-col md:flex-row md:justify-between mt-6 border-t-2 border-gray-400/20 border-b-2 p-4">
        <div class="flex space-x-2">
         <h3 class="text-black">Payment Partners</h3>
         <img src="/images/amazon-pay.png" class="w-[50px] object-contain" alt="amazon-pay logo">
         <img src="/images/American-Express-Color.png" class="w-[50px] object-contain" alt="American-Express logo">
         <img src="/images/mastercard.webp" class="w-[50px] object-contain"alt="mastercard logo">
         <img src="/images/paypal.png" class="w-[50px] object-contain" alt="paypal logo">
        </div>
        <div class="flex space-x-2">
            <h3 class="text-black">Get deliveries with fresh cart</h3>
            <img src="/images/get-apple-store.png" class="w-[80px] object-contain" alt="App-store logo">
            <img src="/images/get-google-play.png" class="w-[80px] object-contain" alt="Google-play logo">
        </div>
    </div>
  </div>
</footer>
 
