<section>
    <div class="container mx-auto mt-15">
        <div>
            <h1 class="font-bold text-4xl mb-3">please enter your Email</h1>
        </div>
  <form (ngSubmit)=" ForGetPass();" [formGroup]="forgetpass_form">
    <div class="flex flex-col">
       <input formControlName="email" name="email" type="email" class=" w-full md:w-[75%]" placeholder="Enter your email" required>
        @let user_email = forgetpass_form.get("email");
         @if (user_email?.errors && user_email?.touched) 
            { 
               @if(user_email?.getError("required"))
               {
                  <app-error-message>
                    <span class="font-medium">This input is required !</span>
                  </app-error-message>
               }
               @if(user_email?.getError("email"))
               {
                  <app-error-message>
                    <span class="font-medium">this email is invalid !</span>
                  </app-error-message>
               }
            }
       <button routerLink="/verifycode" type="submit" class="mt-3 border-2 rounded-md border-white bg-green-400 w-1/4 h-1/4">Send Reset Code</button>
    </div>
    

  </form>
 
    
</div>
</section>

